<html>
    <head>
        <title>_ImageScraper_ver2</title>
        <link rel="stylesheet" type="text/css" href="/css/tip-yellow.css">
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
    </head>
    <body>
        <div id="mainInputs" align="center">
            <form id="mainForm">
                <input id="urlInput" type="text" placeholder="Copy and paste url here to begin" class="twitterStyleTextbox"
                       title="Thanks for using ImageScrape version 2"/>
                <button id="fetchButton" class="thoughtbot" title="Click to display images">Pull Images</button>
            </form>
        </div>
        <div id="spinnerDiv"></div>
        <%=yield%>
        <!-- Container for Masonry items -->
        <div id="container"></div>
        <script type="text/javascript" src="/javascript/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="/javascript/main.js"></script>
        <script type="text/javascript" src="/javascript/jquery.poshytip.min.js"></script>
        <script type="text/javascript" src="/javascript/jquery.masonry.min.js"></script>
        <script type="text/javascript" src="/javascript/jquery.imagesloaded.min.js"></script>
        <script type="text/javascript" src="/javascript/spin.min.js"></script>
    </body>
</html>