<html>
  <head>
    <title>ImageScrape Beta</title>
  </head>
  <body>
    <form action="/" method="POST">
      Enter a website url:<input type="text" size="34" name="scrape_url"/>
      <input type="submit" value="Show Images!"/>
   	<%# Uncomment to show the download button %>	 
	<%# unless session['pages'].empty? %> 
	<!-- <input type="button" value="Download Images!" onclick="javascript:location.href = '/download';"> -->
	<%# end %>
      </form>
    <%= yield %>
  </body>
</html>
